<div ng-controller="HomeController">

	<p class="whiteout headline-word-one">P A S T
		<span class="headline-separator-padding">/</span>
		<span class="headline-word-two"> P R E S E N T</span>
	</p>

	<table class="main">
		<tr>
			<td class="valign-top">

				<p><strong>past.</strong>2003<strong> = {</strong></p>
				<p class="key">0 <span class="fa fa-long-arrow-right" aria-hidden="true"></span> discovered <span onmouseover="highLight(this)" onmouseout="noLight(this)" class="focus">"pixel design"</span> websites,</p>
				<p class="key">1 <span class="fa fa-long-arrow-right" aria-hidden="true"></span> created static web sites with <span onmouseover="highLight(this)" onmouseout="noLight(this)" class="focus">custom CSS and DIVs</span>
				</p><strong>}</strong><br />

				<p><strong>past.</strong>2013<strong> = {</strong></p>
				<p class="key">0 <span class="fa fa-long-arrow-right" aria-hidden="true"></span> studied <span onmouseover="highLight(this)" onmouseout="noLight(this)" class="focus">Business Management</span> at SJSU</p>
				</p><strong>}</strong><br />

				<p><strong>past.</strong>2015<strong> = {</strong></p>
				<p class="key">0 <span class="fa fa-long-arrow-right" aria-hidden="true"></span> discovered <span onmouseover="highLight(this)" onmouseout="noLight(this)">coding boot camps</span>,</p>
				<p class="key">1 <span class="fa fa-long-arrow-right" aria-hidden="true"></span> recalled how much <span onmouseover="highLight(this)" onmouseout="noLight(this)" class="focus">I love creating web sites</span>
				</p><strong>}</strong><br />

				<p><strong>present.</strong>2016<strong> = function(</strong>getHired<strong>) {</strong></p>
				<p class="key">0 <span class="fa fa-long-arrow-right" aria-hidden="true"></span> completed <span onmouseover="highLight(this)" onmouseout="noLight(this)" class="focus">Coding Dojo</span>'s 14 week immersive <span onmouseover="highLight(this)" onmouseout="noLight(this)" class="focus">full stack web development boot camp</span>,</p>
				<p class="key">1 <span class="fa fa-long-arrow-right" aria-hidden="true"></span> working <span onmouseover="highLight(this)" onmouseout="noLight(this)" class="focus"><strong>every day</strong></span> to expand my technical skills</p>
				<p class="key">return <span onmouseover="highLight(this)" onmouseout="noLight(this)" class="focus"><strong>getHired(</strong>present.skillSet<strong>)</strong></span>;</p>
				<strong>}</strong><br />

			</td>
		</tr>
	</table>

	<p class="whiteout headline-word-one">F U T U R E</p>

	<div class="about-img-wrapper">
		<div class="about-img">
			<img src="/img/brian.jpg" class="about">
		</div>

		<div class="about-text-wrapper">
			<p class="about-text-p">
				I am eager and extremely excited to join a full stack development team and continue expanding my knowledge of current skills, learn new technologies, and more abstract data systems & structures.  When I'm not coding, debugging, whiteboarding, or t-diagramming, I can be found playing the sounds, patterns and melodies on guitar that intrigue me most.  Please don't hesitate to reach out to me with any questions, comments, desire to pair program, or just ask questions!
			</p>

			<p class="block indent">
				<a href="mailto:brian.eddow@gmail.com"><img src="/img/email.png" class="icon inline-block"></a>
				<span class="fa fa-long-arrow-right inline-block" aria-hidden="true"></span>
				<a href="mailto:brian.eddow@gmail.com" class="focus inline-block">brian.eddow@gmail.com</a>
			</p>
			<p class="block indent">
				<a href="http://linkedin.com/in/brianseddow" target="_blank"><img src="/img/linkedin.png" class="icon inline-block"></a>
				<span class="fa fa-long-arrow-right inline-block" aria-hidden="true"></span>
				Check me out on <a href="http://linkedin.com/in/brianseddow" target="_blank" class="focus inline-block">LinkedIn</a>
			</p>
			<p class="block indent">
				<a href="http://github.com/brianeddow" target="_blank"><img src="/img/github.png" class="icon inline-block"></a>
				<span class="fa fa-long-arrow-right inline-block" aria-hidden="true"></span>
				My code on  <a href="https://github.com/brianeddow" target="_blank" class="focus inline-block">GitHub</a>
			</p>

		</div>
	</div>

</div>
