<div ng-controller="HomeController">

	<p class="whiteout" style="padding-left: 5px;">P A S T
	<span style="padding-left: 15px;">/</span>
	<span style="padding-left: 15px; padding-right: 15px;"> P R E S E N T</span>
	</p>

	<table class="main">
		<tr>
			<td style="vertical-align: top;">

				<p><strong>past.</strong>2003<strong> = {</strong></p>
				<p class="key">0 <span class="fa fa-long-arrow-right" aria-hidden="true"></span> discovered <span onmouseover="highLight(this)" onmouseout="noLight(this)" class="focus">"pixel design"</span> websites,</p>
				<p class="key">1 <span class="fa fa-long-arrow-right" aria-hidden="true"></span> created static web sites with <span onmouseover="highLight(this)" onmouseout="noLight(this)" class="focus">custom CSS and DIVs</span>
				</p><strong>}</strong><br />

				<p><strong>past.</strong>2013<strong> = {</strong></p>
				<p class="key">0 <span class="fa fa-long-arrow-right" aria-hidden="true"></span> studied <span onmouseover="highLight(this)" onmouseout="noLight(this)" class="focus">Business Management</span> at SJSU</p>
				</p><strong>}</strong><br />

				<p><strong>past.</strong>2015<strong> = {</strong></p>
				<p class="key">0 <span class="fa fa-long-arrow-right" aria-hidden="true"></span> discovered <span onmouseover="highLight(this)" onmouseout="noLight(this)">coding boot camps</span>,</p>
				<p class="key">1 <span class="fa fa-long-arrow-right" aria-hidden="true"></span> recalled how much <span onmouseover="highLight(this)" onmouseout="noLight(this)" class="focus">I love creating web sites</span>
				</p><strong>}</strong><br />

				<p><strong>present.</strong>2016<strong> = function(</strong>getHired<strong>) {</strong></p>
				<p class="key">0 <span class="fa fa-long-arrow-right" aria-hidden="true"></span> completed <span onmouseover="highLight(this)" onmouseout="noLight(this)" class="focus">Coding Dojo</span>'s 14 week immersive <span onmouseover="highLight(this)" onmouseout="noLight(this)" class="focus">full stack web development boot camp</span>,</p>
				<p class="key">1 <span class="fa fa-long-arrow-right" aria-hidden="true"></span> working <span onmouseover="highLight(this)" onmouseout="noLight(this)" class="focus"><strong>every day</strong></span> to expand my technical skills</p>
				<p class="key">return <span onmouseover="highLight(this)" onmouseout="noLight(this)" class="focus"><strong>getHired(</strong>present.skillSet<strong>)</strong></span>;</p>
				<strong>}</strong><br />

			</td>
		</tr>
	</table>

	<p class="whiteout" style="padding-left: 5px;">F U T U R E</p>

	<div style="margin: 0 auto; width: 93%;">
		<div style="float: left; width: 30%;">
			<img src="brian.jpg" class="about">
		</div>

		<div style="float: right; width: 65%;">
			<p style="text-align: justify; padding-left: 5px; padding-right: 5px;">
				I am eager and extremely excited to join a full stack development team and continue expanding my knowledge of current skills, learn new technologies, and more abstract data systems & structures.  When I'm not coding, debugging, whiteboarding, or t-diagramming, I can be found playing the sounds, patterns and melodies on guitar that intrigue me most.  Please don't hesitate to reach out to me with any questions, comments, desire to pair program, or just ask questions!
			</p>

			<table>
				<tr>
					<td>
						<a href="mailto:brian.eddow@gmail.com"><img src="email.png" class="icon"></a>
					</td>
					<td>
						<a href="mailto:brian.eddow@gmail.com" class="focus">brian.eddow@gmail.com</a>
				   </td>
				</tr>
			</table>
		</div>
	</div>

</div>
