<div ng-controller="HomeController">

	<table class="main">
		<tr>
			<td style="vertical-align: top;">

				<p class="whiteout" style="padding-left: 5px;">P A S T <span style="padding-left: 15px;">/<span style="padding-left: 15px; padding-right: 15px;"> P R E S E N T</span></p>

				<p style="margin-left: 10px; margin-right: 17px; text-align: justify;">
					<!-- Hello! How did I get to where I am now? I went to San Jose State University as a Business Mananement undergrad, received my B.S. in Management in 2013, then worked in retail for a bit before deciding I needed a much more technical and focused career.  As a teen, I stumbled upon some pixel design web sites and decided that's what I wanted to do.  I made static websites with banners, buttons and navigation images created in MS Paint and used endless divs and custom css to create my vision.  Flash forward to 2015, I leave the corporate retail arena.  Recalling how much I loved spending countless hours on the computer designing my masterpiece, I became aware of a rising trend in the tech industry called coding boot camps and was intrigued and optimistic.  Now, in 2016, post completion of Coding Dojo's 14 week onsite immersive full stack web development boot camp, I am currently seeking new opportunities as a full stack web developer and working everyday to achieve my goal. -->

					<p><strong>past.</strong>2003<strong> = {</strong></p>
					<p class="key">0 <span class="fa fa-long-arrow-right" aria-hidden="true"></span> discovered <span onmouseover="highLight(this)" onmouseout="noLight(this)" class="focus">"pixel design"</span> websites,</p>
					<p class="key">1 <span class="fa fa-long-arrow-right" aria-hidden="true"></span> created static web sites with <span onmouseover="highLight(this)" onmouseout="noLight(this)" class="focus">custom CSS and DIVs</span>
					</p><strong>}</strong><br />

					<p><strong>past.</strong>2013<strong> = {</strong></p>
					<p class="key">0 <span class="fa fa-long-arrow-right" aria-hidden="true"></span> studied <span onmouseover="highLight(this)" onmouseout="noLight(this)" class="focus">Business Management</span> at SJSU</p>
					</p><strong>}</strong><br />

					<p><strong>past.</strong>2015<strong> = {</strong></p>
					<p class="key">0 <span class="fa fa-long-arrow-right" aria-hidden="true"></span> discovered <span onmouseover="highLight(this)" onmouseout="noLight(this)">coding boot camps</span>,</p>
					<p class="key">1 <span class="fa fa-long-arrow-right" aria-hidden="true"></span> recalled how much <span onmouseover="highLight(this)" onmouseout="noLight(this)" class="focus">I love creating web sites</span>
					</p><strong>}</strong><br />

					<p><strong>present.</strong>2016<strong> = function(</strong>getHired<strong>) {</strong></p>
					<p class="key">0 <span class="fa fa-long-arrow-right" aria-hidden="true"></span> completed <span onmouseover="highLight(this)" onmouseout="noLight(this)" class="focus">Coding Dojo</span>'s 14 week immersive <span onmouseover="highLight(this)" onmouseout="noLight(this)" class="focus">full stack web development boot camp</span>,</p>
					<p class="key">1 <span class="fa fa-long-arrow-right" aria-hidden="true"></span> working <span onmouseover="highLight(this)" onmouseout="noLight(this)" class="focus"><strong>every day</strong></span> to expand my technical skills</p>
					<p class="key">return <span onmouseover="highLight(this)" onmouseout="noLight(this)" class="focus"><strong>getHired(</strong>present.skillSet<strong>)</strong></span>;</p>
					<strong>}</strong><br />

					<p>
				</p>

				<p class="whiteout" style="padding-left: 5px;">F U T U R E</p>

				<p style="margin-left: 10px; margin-right: 17px; text-align: justify;">
					I am eager and extremely excited to join a full stack development team and continue expanding my knowledge of current skills, learn new technologies, and more abstract data systems & structures.  When I'm not coding, debugging, whiteboarding, or t-diagramming, I can be found playing the sounds, patterns and melodies on guitar that intrigue me most.  Please don't hesitate to reach out to me with any questions, comments, desire to pair program, or just ask questions!
				</p>

				<table>
					<tr>
						<td style="padding-right: 10px; padding-top: 7px;">
							<a href="mailto:brian.eddow@gmail.com"><img src="email.png" class="icon"></a> Email:
						</td>
						<td>
							<a href="mailto:brian.eddow@gmail.com" class="focus">brian.eddow@gmail.com</a>
					   </td>
					</tr>
				</table>

			</td>
			<td style="vertical-align: top; margin-left: 10px;">
				<img src="brian.jpg" width="310px" height="400px" class="about">
			</td>
		</tr>
	</table>

</div>
