<div ng-controller="HomeController">

	<table style="margin-top: 30px;" class="col-md-offset-1">
		<tr>
			<td>
				<img src="javascript.png" class="skill" onmouseover="twist(this)">
			</td>
			<td>
				<img src="php.png" class="talent">
			</td>
			<td>
				<img src="python.png" class="skill">
			</td>
			<td>
				<img src="html.png" class="talent">
			</td>
			<td>
				<img src="css.png" class="skill">
			</td>
			<td>
				<img src="ruby.png" class="talent">
			</td>
		</tr>
		<tr>
			<td>
				<img src="flask.png" class="skill">
			</td>
			<td>
				<img src="sqlite.png" class="talent">
			</td>
			<td>
				<img src="django.png" class="skill">
			</td>
			<td>
				<img src="express.png" class="talent">
			</td>
			<td>
				<img src="jquery.png" class="skill">
			</td>
			<td>
				<img src="node.png" class="talent">
			</td>
		</tr>
		<tr>
			<td>
				<img src="codeigniter.png" class="talent">
			</td>
			<td>
				<img src="mysql.png" class="talent">
			</td>
			<td>
				<img src="mongo.png" class="skill">
			</td>
			<td>
				<img src="laravel.png" class="talent">
			</td>
			<td>
				<img src="angular.png" class="skill">
			</td>
			<td>
				<img src="bootstrap.png" class="talent">
			</td>
		</tr>
		<tr>
			<td>
				<img src="github.png" class="skill" style="text-align: center;">
			</td>
		</tr>
	</table>

</div>
