<div ng-controller="HomeController">

	<p class="main whiteout headline-word-one">S K I L L S E T</p>

	<table class="col-md-offset-1 col-md-11 skills">
		<tr>
			<td>
				<img src="/img/javascript.png" class="skill">
			</td>
			<td>
				<img src="/img/php.png" class="talent">
			</td>
			<td>
				<img src="/img/python.png" class="skill">
			</td>
			<td>
				<img src="/img/html.png" class="talent">
			</td>
		</tr>
		<tr>
			<td>
				<img src="/img/flask.png" class="skill">
			</td>
			<td>
				<img src="/img/sqlite.png" class="talent">
			</td>
			<td>
				<img src="/img/django.png" class="skill">
			</td>
			<td>
				<img src="/img/express.png" class="talent">
			</td>
		</tr>
		<tr>
			<td>
				<img src="/img/codeigniter.png" class="talent">
			</td>
			<td>
				<img src="/img/mysql.png" class="talent">
			</td>
			<td>
				<img src="/img/mongo.png" class="skill">
			</td>
			<td>
				<img src="/img/laravel.png" class="talent">
			</td>
		</tr>
		<tr>
			<td>
				<img src="/img/github.png" class="skill">
			</td>
			<td>
				<img src="/img/css.png" class="skill">
			</td>
			<td>
				<img src="/img/ruby.png" class="talent">
			</td>
			<td>
				<img src="/img/jquery.png" class="skill">
			</td>
		</tr>
		<tr>
			<td>
				<img src="/img/angular.png" class="skill">
			</td>
			<td>
				<img src="/img/bootstrap.png" class="talent">
			</td>
			<td>
				<img src="/img/node.png" class="talent">
			</td>
		</tr>
	</table>

</div>
