<div ng-controller="HomeController">

<p class="whiteout headline-word-one">C R E A T I O N S</p>

<table>
	<tr>
		<td>

			<p><strong>GUITAR FANOLOGY <a href="https://vimeo.com/165074178" target="_blank"><i class="fa fa-external-link" aria-hidden="true" onmouseover="highLight(this)" onmouseout="noLight(this)"></i></a></strong></p>
			<p>
				<table>
					<tr>
						<td class="valign-top">
							<a href="https://vimeo.com/165074178" target="_blank">
							<img src="/img/gf.png" class="border work-img" onmouseover="lightOrange(this)" onmouseout="backToOrange(this)">
							</a>
						</td>
						<td>
							<p>App built from the ground up in Laravel with PHP, SQLite, JavaScript, jQuery, and Bootstrap.</p>
						</td>
					</tr>
				</table>
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p><strong>CHORD JAM <a href="https://vimeo.com/163315541" target="_blank"><i class="fa fa-external-link" aria-hidden="true" onmouseover="highLight(this)" onmouseout="noLight(this)"></i></a></strong></p>
			<p>
				<table>
					<tr>
						<td class="valign-top">
							<a href="https://vimeo.com/163315541" target="_blank">
							<img src="/img/cj.png" class="border work-img" onmouseover="lightOrange(this)" onmouseout="backToOrange(this)">
							</a>
						</td>
						<td>
							<p>App built in Django with Python, SQLite, and custom CSS.</p>
						</td>
					</tr>
				</table>
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p><strong>ELEVATION TRAINER <a href="http://trainer.brianeddow.com" target="_blank"><i class="fa fa-external-link" aria-hidden="true" onmouseover="highLight(this)" onmouseout="noLight(this)"></i></a></strong></p>
			<p>
				<table>
					<tr>
						<td class="valign-top">
							<a href="http://trainer.brianeddow.com" target="_blank">
							<img src="/img/et.png" class="border work-img" onmouseover="lightOrange(this)" onmouseout="backToOrange(this)">
							</a>
						</td>
						<td>
							<p>Built from the ground up in MEAN stack with JavaScript, Node.js, Express, Angular and MongoDB.</p>
						</td>
					</tr>
				</table>
			</p>
		</td>
	</tr>

</table>

</div>
