<div ng-controller="HomeController">

<table>
	<tr>
		<td>
			<p class="main whiteout" style="padding-left: 5px;">C R E A T I O N S</p>

			<p style="font-weight: bold;">GUITAR FANOLOGY <a href="https://vimeo.com/165074178" target="_blank"><i class="fa fa-external-link" aria-hidden="true" onmouseover="highLight(this)" onmouseout="noLight(this)"></i></a></p>
			<p style="margin-left: 7px">
				<table>
					<tr>
						<td style="vertical-align: top;">
							<a href="https://vimeo.com/165074178" target="_blank">
							<img src="gf.png" class="border" onmouseover="lightOrange(this)" onmouseout="backToOrange(this)" style="border-radius: 4px;">
							</a>
						</td>
						<td>
							<p>App built from the ground up in Laravel with PHP, SQLite, JavaScript, jQuery, and Bootstrap.</p>
						</td>
					</tr>
				</table>
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p style="font-weight: bold;">CHORD JAM <a href="https://vimeo.com/163315541" target="_blank"><i class="fa fa-external-link" aria-hidden="true" onmouseover="highLight(this)" onmouseout="noLight(this)"></i></a></p>
			<p style="margin-left: 7px;">
				<table>
					<tr>
						<td style="vertical-align: top;">
							<a href="https://vimeo.com/163315541" target="_blank">
							<img src="cj.png" class="border" onmouseover="lightOrange(this)" onmouseout="backToOrange(this)" style="border-radius: 4px;">
							</a>
						</td>
						<td>
							<p>App built in Django with Python, SQLite, and custom CSS.</p>
						</td>
					</tr>
				</table>
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p style="font-weight: bold;">ELEVATION TRAINER <a href="https://vimeo.com/163449619" target="_blank"><i class="fa fa-external-link" aria-hidden="true" onmouseover="highLight(this)" onmouseout="noLight(this)"></i></a></p>
			<p style="margin-left: 7px;">
				<table>
					<tr>
						<td style="vertical-align: top;">
							<a href="https://vimeo.com/163449619" target="_blank">
							<img src="et.png" class="border" onmouseover="lightOrange(this)" onmouseout="backToOrange(this)" style="border-radius: 4px;">
							</a>
						</td>
						<td>
							<p>Built from the ground up in MEAN stack with JavaScript, Node.js, Express, Angular and MongoDB.</p>
						</td>
					</tr>
				</table>
			</p>
		</td>
	</tr>

</table>

</div>
