<div ng-controller="HomeController">

<p style="font-weight: bold;" class="main">Creations</p>

<table>
	<tr>
		<td>
			<p style="font-weight: bold;">Guitar Fanology <a href="https://vimeo.com/165074178" target="_blank"><img src="link.png" class="link" onmouseover="highLight(this)" onmouseout="noLight(this)"></a></p>
			<p style="margin-left: 7px">
				<table>
					<tr>
						<td style="vertical-align: top;">
							<p>App built from the ground up in Laravel with PHP, SQLite, JavaScript, jQuery, and Bootstrap.</p>
						</td>
						<td>
							<a href="https://vimeo.com/165074178" target="_blank">
							<img src="gf.png" class="border" onmouseover="lightOrange(this)" onmouseout="backToOrange(this)" style="border-radius: 4px;">
							</a>
						</td>
					</tr>
				</table>
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p style="font-weight: bold;">Chord Jam <a href="https://vimeo.com/163315541" target="_blank"><img src="link.png" class="link" onmouseover="highLight(this)" onmouseout="noLight(this)"></a></p>
			<p style="margin-left: 7px;">
				<table>
					<tr>
						<td style="vertical-align: top;">
							<p>App built in Django with Python, SQLite, and custom CSS.</p>
						</td>
						<td>
							<a href="https://vimeo.com/163315541" target="_blank">
							<img src="cj.png" class="border" onmouseover="lightOrange(this)" onmouseout="backToOrange(this)" style="border-radius: 4px;">
							</a>
						</td>
					</tr>
				</table>
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<p style="font-weight: bold;">Elevation Trainer <a href="https://vimeo.com/163449619" target="_blank"><img src="link.png" class="link" onmouseover="highLight(this)" onmouseout="noLight(this)"></a></p>
			<p style="margin-left: 7px;">
				<table>
					<tr>
						<td style="vertical-align: top;">
							<p>Built from the ground up in MEAN stack with JavaScript, Node.js, Express, AngularJS and MongoDB.</p>
						</td>
						<td>
							<a href="https://vimeo.com/163449619" target="_blank">
							<img src="et.png" class="border" onmouseover="lightOrange(this)" onmouseout="backToOrange(this)" style="border-radius: 4px;">
							</a>
						</td>
					</tr>
				</table>
			</p>
		</td>
	</tr>

</table>

</div>
