<html>
<head>
 <title></title>
</head>
<body>
  <h2>Here are the awesome people!</h2>
  <% for (var i in people) { %>
    <h4>Name: <%= people[i].name %> </h4>
    <hr>
  <% } %>

  <p><a href="/">Add another person!</a></p>
</body>
</html>